# Set the base image to norad
FROM <%= options[:base_image] %>

# Copy the wrapper script
COPY <%= options[:name] %>-wrapper.rb /<%= options[:name] %>-wrapper.rb
RUN chmod 755 /<%= options[:name] %>-wrapper.rb

#Home
WORKDIR /

ENTRYPOINT ["/<%= options[:name] %>-wrapper.rb"]
