registry: <%= options[:registry] %>
name: <%= options[:name] %>
version: <%= options[:version] %>
<% if options[:test_type] == 'authenticated' -%>
prog_args: '%{target} %{ssh_user} %{ssh_port} %{ssh_key}'
default_config:
  ssh_port: 22
test_types:
  - <%= options[:test_type] %>
category: whitebox
# Does the test require additional configuration beyond the Norad service in the API?
configurable: true
# Specify whether the test will modify any aspect of the device under test
modifies_target_data: true
modifies_target_config: true
modifies_service_data: true
modifies_service_config: true
<% elsif options[:configurable] -%>
prog_args: '%{target} %{fixme_custom_option}'
default_config:
  fixme_custom_option: some_default_value
test_types:
  - <%= options[:test_type] %>
category: blackbox
# Does the test require additional configuration beyond the Norad service in the API?
configurable: true
# Specify whether the test will modify any aspect of the device under test
modifies_target_data: true
modifies_target_config: true
modifies_service_data: true
modifies_service_config: true
<% else -%>
prog_args: '%{target}'
test_types:
  - <%= options[:test_type] %>
category: blackbox
# Does the test require additional configuration beyond the Norad service in the API?
configurable: false
# Specify whether the test will modify any aspect of the device under test
modifies_target_data: true
modifies_target_config: true
modifies_service_data: true
modifies_service_config: true
<% end -%>
