## <%= options[:name] %>

### Description

FIXME: Describe the tool used in the container and how the container operates

### Configuration Options

Argument | Default Value | Description
-------- | ------------- | -----------
FIXME    | FIXME         | FIXME

<% if options[:authenticated] %>
**Requires Authentication on Target:** Yes
<% else %>
**Requires Authentication on Target:** No
<% end %>
